.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.cross-fade-height {
  transition: height .5s cubic-bezier(0.19, 1, 0.22, 1);
}