.panel {
  position: relative;
  height: 100%;
  width: 100%;
}
.gal {
  max-width: 1580px;
  margin: auto;
  @extend .row;
}

.image-item {
  text-align: center;
  padding: 20px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  p {
    text-align: left;
    margin: 1em 0;
  }
}

#main {
  height: 100%;
  width: 100%;
}

.center-content {
  @include centerer;
}

.flex {
  display: flex;
}

.blog-container {
  max-width: 1500px;
  margin: auto;
  justify-content: space-between;
}

.half {
  width: 50%;
  display: inline-block;
}