.panel {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
}
.gal {
  max-width: 100%;
  margin: auto;
  @extend .row;
}

.image-item {
  text-align: center;
  padding: 20px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  p {
    text-align: left;
    margin: 1em 0;
  }
}

#main {
  height: 100%;
  width: 100%;
}

.center-content {
  @include centerer;
}

.flex {
  display: flex;
}