html {
  background-color: $white;
}
h1,
h2,
h3,
h4,
h5, {
  font-family: 'Montserrat', sans-serif;
  margin: 1em 0;
}

p,
a,
span,
li,
button,
input, {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 1em 0;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
}