.blog-body {
  font-size: 22px;
}

.blog-title {
  font-size: 45px;
}

.blog-published-date {

}

.header-title {
  @extend .S;
  font-size: 22px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  color: black;
}

a {
  text-decoration: none;
}