.nav-wrapper {
  height: 80px;
  text-align: center;
  margin: 0 20px;
  @include breakpoint($mobile) {
    margin: 0 60px 20px 60px;
  }
  ul {
    li {
      display: inline-block;
      a {
        text-decoration: none;
        font-size: .875rem;
        padding: 0 .9375rem;
        line-height: 5rem;
        display: inline-block;
        img {
          vertical-align: middle;
          height: 20px;
        }
        opacity: .38;

        &:hover {
          opacity: .64;
          cursor: pointer;
        }
      }
    }
  }
}

.logo {
  text-align: left;
  margin: 0;
  a {
    font-size: .875rem;
    line-height: 5rem;
    color: $dgrey;
    opacity: .72;
    text-decoration: none;
  }
}