.nav-wrapper {
  height: 80px;
  text-align: right;
  margin: 0 1rem 4.375rem 1rem;
  ul {
    li {
      display: inline-block;
      button {
        font-size: .875rem;
        padding: 0 .9375rem;
        line-height: 5rem;
        color: $dgrey;
        opacity: .38;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

.logo {
  text-align: left;
  margin: 0;
  button {
    font-size: .875rem;
    line-height: 5rem;
    color: $dgrey;
  }
}