.nav-wrapper {
  height: 80px;
  text-align: right;
  margin: 0 60px 4.375rem 60px;
  ul {
    li {
      display: inline-block;
      a {
        text-decoration: none;
        font-size: .875rem;
        padding: 0 .9375rem;
        line-height: 5rem;
        color: $dgrey;
        opacity: .38;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

.logo {
  text-align: left;
  margin: 0;
  a {
    font-size: .875rem;
    line-height: 5rem;
    color: $dgrey;
    opacity: .72;
    text-decoration: none;
  }
}