.blog-article {
  margin: 0 20px;
  @include breakpoint($mobile) {
    margin: 0 60px;
  }
  img {
    display: block;
    height: auto;
    width: 100%;
  }
  .blog-image-wrap {
    span {
      font-size: 12px;
      font-family: 'Montserrat';
      text-align: center;
      display: block;
      padding: .5em 0 1em 0;
    }
    width: 100%;

    @include breakpoint($mobile) {
      &.right {
      margin-left: auto;
      }
      &.center {
        margin: auto;
      }
      &.half {
        width: 50%;
      }
      &.third {
        width: 33%;
      }
    }
  }
  .blog-image {
    display: block;
    padding: 2em 0 .5em 0;
  }
}

.blog-title {
  font-size: 30px;
  @include breakpoint($mobile) {
    font-size: 45px;
  }
}

.blog-body {
  font-size: 16px;
  @include breakpoint($mobile) {
    font-size: 22px;
  }
  p {
    max-width: 700px;
  }
}

.wrap {
  position: fixed;
}

