.blog-item-inner {
  display: inline-block;
  li {
    display: inline-block;
    padding-right: 2.9375rem;
  }
  padding-top: 29px;
  padding-bottom: 29px;
  border-top: 1px solid lighten($dgrey, 63%);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}
.image-list {
  vertical-align: middle;
  display: none;
  @include breakpoint($mobile) {
    display: inline-block;
  }
  a {
    display: inline-block;
    padding-right: 1.375rem;
  }
  img {
    height: auto;
    filter: contrast(110%);
    height: 100px;
    display: block;
  }
}
.main-pic {
  vertical-align: middle;
  max-height: 25px;
  margin-left: 20px;
  display: inline-block;
  @include breakpoint($mobile) {
    max-height: 50px;
    margin-left: 60px;
  }
}

.blog-item-title {
  vertical-align: middle;
  width: 350px;
  text-align: center;
  display: inline-block;
  a {
    text-decoration: none;
  }
  span {
    display: block;
    font-size: 12px;
    @extend .QS;
    // @include breakpoint($mobile) {
    //   font-size: 12px;
    // }
    &:nth-of-type(1) {
      padding-bottom: .32rem;
      color: $dgrey;
      opacity: .9;
    }
    &:nth-of-type(2) {
      color: $dgrey;
      opacity: .68;
    }
  }
}