.blog-article {
  margin: 0 60px;
  img {
    display: block;
    height: auto;
    width: 100%;
  }
  .blog-image {
    display: inline-block;
    padding: 2em 0;
    &.half {
      width: 50%;
    }
    &.third {
      width: 33%;
    }
  }
}

.blog-sidebar {
  min-width: 200px;
  padding: 2em;

  button {
    border: 0;
    box-shadow: none;
    font-size: 20px;
    background-color: transparent;
    &:hover {
      opacity: .5;
      transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.wrap {
  position: fixed;
}

