.blog-article {
  margin: auto;
  max-width: 1100px;
  margin-top: 4em;
  @include breakpoint($mobile) {
  }
  img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 700px;
    margin: auto;
  }
  .blog-image-wrap {
    span {
      font-size: 12px;
      font-family: 'Montserrat';
      text-align: center;
      display: block;
      padding: .5em 0 1em 0;
    }
    width: 100%;

    @include breakpoint($mobile) {
      &.right {
      margin-left: auto;
      }
      &.center {
        margin: auto;
      }
      &.half {
        width: 50%;
      }
      &.third {
        width: 33%;
      }
    }
  }
  .blog-image {
    display: block;
    margin-top: 4em;
  }
}

.blog-title {
  font-size: 30px;
  text-align: center;
  @include breakpoint($mobile) {
    font-size: 40px;
  }
  margin: 0 .5em;
}

.blog-subtitle {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  margin-bottom: 4rem;
}
.blog-body {
  font-size: 16px;
  margin-top: 5em;
  @include breakpoint($mobile) {
    font-size: 18px;
  }
  p {
    max-width: 700px;
    margin: 0 2em;
    margin-top: 2em;
    @include breakpoint($mobile) {
      margin: auto;
      margin-top: 2em;
    }
  }
}

.wrap {
  position: fixed;
}

