.footer {
  padding: 40px 20px;
  margin-top: 4em;
  font-size: 10px;
  h6 {
    font-size: 10px;
    opacity: .64;
    text-align: center;
    padding-bottom: 2em;
    @include breakpoint($mobile) {
      padding-bottom: 0;
      text-align: left;
    }
  }
  a {
    text-decoration: none;
    color: black;
    opacity: .34;
    padding: 0 12px;
    letter-spacing: 1px;
    &:hover {
      opacity: .54;
    }
  }
  .links {
    text-align: center;
    @include breakpoint($mobile) {
      text-align: right;
    }
  }
}