.photo-single {
  position: relative;
}

.photo-single-inner {
  max-width: 100%;
  margin: auto;
  text-align: center;
  a {
    display: block;
  }
  img {
    display: block;
    height: 400px;
    padding: 20px;
    margin: auto;
    @include breakpoint($mobile) {
      height: 500px;
    }
  }
}

.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  display: none;
  @include breakpoint($mobile) {
    display: block;
  }
}

.prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
  display: none;
  @include breakpoint($mobile) {
    display: block;
  }
}

.m-image {
  position: relative;
  display: block;
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.27);
    content: '';
    opacity: 0;
    transition: opacity .4s ease-in;
  }

  .hover-me {
    position: absolute;
    @include centerer;
    opacity: 0;
    color: $white;
    z-index: 9;
    transition: opacity .4s ease-in;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 10px;
    letter-spacing: .08em;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
    .hover-me {
      opacity: 1;
    }
  }
}