* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}