.main-stream-pic {
  height: 64px;
  width: 64px;
  background-size: cover;
  margin: auto;
}

.main-stream-header {
  h6 {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 2em;
    font-size: 12px;
    letter-spacing: .02em;
    opacity: .67;
  }
  a {
    text-decoration: none;
    color: black;
    opacity: .65;
  }
  margin: 4em 0;
}